<div class="form-items">
  <br>
  <%= link_to "Add a new food item?", new_fooditem_path %>
  <br>
  <br>
  <% @fooditems.each do |fooditem| %>
    <div class="food-items">
    <i>Dish:</i> <%= fooditem.itemname %><br>
    <i>Cuisine:</i> <%= fooditem.cuisine %><br>
    $<%= fooditem.price %><br>
    <%= link_to "Remove Item", fooditem_path(fooditem.id), :method => :delete %>
    <%= link_to "Edit Item", edit_fooditem_path(fooditem.id) %>
    </div>
      <br>
  <% end %>
</div>
