<div class="form-items">
  
  <%= link_to "Add a new food item?", new_fooditem_path %></p>

  <% @fooditem.each do |fooditem| %>
    <div class="food-items">
    <%= fooditem.itemname %><br>
    <%= fooditem.cuisine %><br>
    <%= fooditem.price %>
    <%= link_to "Remove Item", fooditem_path(fooditem.id), :method => :delete %>
    <%= link_to "Edit Item", edit_fooditem_path(fooditem.id) %>
    </div>
  <% end %>
</div>
