<h1>Orders </h1>
<div class="order">
  <div class="order-items">
    <% price = 0 %>
    <% @orders.each do |order| %>
    <% a = order.updated_at %>
    <% a = a.to_s %>
    <% a = a.split(' ') %>
    <div class="chef_color" id=<%=a[1]%>>
      <%  order.fooditems.each { |item| %>
        Name:<%= item.itemname%><br>
        Price:<%= item.price%><br>
        <% price += item.price %>
      <%  } %>
    Total Price:<%=price %><br>
    Cooked:<%= order.cooked %><br>
    <%= link_to "Delete Order", order_path(order.id), :method => :delete %>
    <%= link_to "Edit Order", edit_order_path(order.id) %>
    <br>
    <br>
    <% price = 0 %>
    </div>
  <% end %>
  </div>
</div>
