<div class="form">

  <%= form_for @order do |f| %>

  <%= f.label :Table %><br>
  <%= collection_select(:order, :table_id, @tables, :id, :guests) %><br><br>


  <%= fields_for(@fooditems) do |ab| %>
    <%= ab.label "Dishes" %><br>
    <%= collection_select(:fooditem, :fooditem_id, @fooditems, :id, :itemname, {}, {:multiple => true})%>
  <% end %>

    <%= f.label :cooked %>
    <%= f.check_box :cooked, {}, true, false %> <br>

  <%= f.submit "Start an Order" %>

  <% end %>
</div>
